body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: row;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainfield {
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  text-align: center;
  background-color: rgb(219, 231, 255);
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.form-area {
  background-color: #60aaff;
  height: 200px;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: beige;
  height: 100vh;
  width: 35vh;
  align-items: center;
}

.navbar * {
  margin-bottom: 10px;
  padding: 10px;
}

.logo-wraper {
  padding: 0;
  height: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: -2vh;
  width: auto;
  padding: 0;
  height: 20vh;
}

ul {
  width: 100%;
}

li {
  color: rgb(97, 111, 129);
  background-color: rgb(219, 231, 255);
  text-decoration-line: none;
  text-align: center;
  list-style-type: none;
}

li:hover {
  background-color: rgb(181, 254, 255);
}

li:active {
  background-color: rgb(181, 254, 255);
}

.react-calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #000000;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  font-size: 2vh;
}

.react-calendar__navigation {
  display: flex;
  height: 5vh;
}

.react-calendar__navigation__label {
  font-weight: bold;
}

.react-calendar__navigation__arrow {
  flex-grow: 0.333;
  font-size: 2vh;
}

.react-calendar__tile {
  height: 10vh;

  background-color: white;
}

.react-calendar__tile--active {
  background: #60aaff;
  color: white;
}

.react-calendar__tile:hover {
  background: #c1deff;
  color: white;
}

.react-calendar__tile--now {
  background: #ffff76;
  color: #000000;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  color: #ffffff;
  background: #ff983d;
}

.ToDo-component {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ToDo-title {
  background: #fff8e8;
  color: #464242;
  text-align: center;
}

.ToDo-wrapper {
  display: flex;
  flex-direction: column;
}

.ToDo-item {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}

.documents-page {
  color: #232323;
  background: #fff8e8;
}
.documents-page-title {
  text-align: center;
}
.serchbar {
  text-align: center;
}

.table {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

td {
  border: 1px solid black;
}
