body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: row;
}

.mainfield{
  display: flex;
  flex-direction: column;
}
.task {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  background-color: rgb(219, 231, 255);
  gap: 1vh;
  height: 500px;
  width: 500px;
}

/* .navbar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
} */

/* .calendar-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .content-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.navbar {
  display: flex;
  flex-direction: column;
  background-color: beige;
  width: fit-content;
  height: 150vh;
  align-items: center;
}

.navbar * {
  margin-bottom: 10px;
  padding: 10px;
}

/* .calendar {
  display: flex;
  align-items: center;
  justify-content: center;
} */

a {
  color: rgb(97, 111, 129);
  background-color: rgb(219, 231, 255);
  text-decoration-line: none;
}

.react-calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #000000;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  font-size: 2vh;
}

.react-calendar__navigation {
  display: flex;
  height: 5vh;
}

.react-calendar__navigation__label {
  font-weight: bold;
}

.react-calendar__navigation__arrow {
  flex-grow: 0.333;
  font-size: 2vh;
}

.react-calendar__tile {
  height: 10vh;

  background-color: white;
}

.react-calendar__tile--active {
  background: #60aaff;
  color: white;
}

/* .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #60aaff;
} */


.ToDo-component{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ToDo-title{
  background: #fff8e8;
  color: #464242;
  text-align: center;
}

.ToDo-wrapper{
  display: flex;
  flex-direction: column;

}

.ToDo-item{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
} 

.documents-page{
  color: #232323;
  background: #fff8e8;
}
.documents-page-title{
  text-align: center;

}
.serchbar{
  text-align: center;
}

.table{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}


td {
  border: 1px solid black;
}